<!DOCTYPE html>
<html>
<head>
    <title>John Cox's Beer Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>User successfully logged in.</h1> </br>
<a href="/beer/">Return to Beers</a> </br>
<a href="/beertype/">Return to Beer Type</a> </br>
<a href="/brewery/">Return to Brewery</a></br>
<a href="/location/">Return to Store Locations</a>
</br>
<a href="/">Return Home</a>


</body>
</html>
