<% include ../partials/header.ejs%>

<form action="/beertype/save/">

    <label for="beertypename">Beer Type Name:</label> <input type="text" id="beertypename" name="beertypename" /><br />


    <input type="submit" />
</form>
<% include ../partials/footer.ejs%>