<% include ../partials/header.ejs%>

<form action="/location/save/">

    <label for="locationname">Brewery Name:</label> <input type="text" id="breweryname" name="breweryname" /><br />
    <label for="street">Street:</label> <input type="text" id="street" name="street" /><br />
    <label for="city">City:</label> <input type="city" id="city" name="city" /><br />
    <label for="zip">Zip:</label> <input type="zip" id="zip" name="zip" /><br />
    <label for="state">State:</label> <input type="state" id="state" name="state" /><br />


    <input type="submit" />
</form>
<% include ../partials/footer.ejs%>