<% include ../partials/header.ejs%>

<form action="/beer/save/">

    <label for="companyname">Beer Name:</label> <input type="text" id="beername" name="beername" /><br />
    <label for="abv">ABV:</label> <input type="text" id="abv" name="abv" /><br />
    <label for="breweryid">Brewery ID:</label> <input type="breweryid" id="breweryid" name="breweryid" /><br />

    <input type="submit" />
</form>
<% include ../partials/footer.ejs%>