<!DOCTYPE html>
<html>
<head>
    <title>John Cox's Beer Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<% if(typeof firstname !== "undefined") { %>
<p align="right">Welcome, <%= firstname %>     <a href="/logout/">Logout</a></p>

<% } %>
<h1>Beer Database</h1>
