<%include partials/header.ejs%>

<p>Greetings and thank you for visiting my Beer Database! This website gives you all sorts of information about various beers.<br />
    The focus of this website is to give users insight to where their favorite beers are being sold currently. It also reveals the type of beer, the ABV content, and even the quantity sold at each store currently.<br />
    I try to keep the database updated as much as possible to ensure that each and every store listed has the beers you are looking for.</p>

<p>If you are looking for a particular beer and would like me to add it to the website please contact me at:</p>

<p>John C.<br />
    <a href="mailto:johnc@mailg.com">johnc@mailg.com</a><br />
    707-555-1313<br />
</p>

<%include partials/footer.ejs%>
