<!DOCTYPE html>
<html>
  <head>
    <title>Brewery Database</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>John Cox</h1>
    <p>Welcome to MY BEER DATABASE</p>
  </body>
</html>
