<%include partials/header.ejs%>

<p align="right"><a href="/login/">Login</a></p>
</br>

<h1>Brewery List</h1>
<a href="/brewery/">View/Edit Breweries</a>
<br />
<h1>Beer List</h1>
<a href="/beer/">View/Edit Beers</a> </br>
<a href="/beertype/">View/Edit Beer Type</a>
</br>
<a href="/brewery/AllBeers">View All</a>
<h1>Stores</h1>
<a href="/location/">View/Edit Stores Locations</a>
</br>
<h1>About Me</h1>
<a href="/about/">About</a>






<%include partials/footer2.ejs%>